
<div class="col-lg-10">
    <h2>Notícias</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/Empresa">Home</a>
        </li>
        <li>
            <a href="/Empresa">Empresas</a>
        </li>
        <li>
            <a href="/Empresa/Promo/@ViewBag.IdEmpresa">Promoções</a>
        </li>
        <li>
            <a href="/Empresa/PromoDetalhes/?idPromo=@ViewBag.IdPromocao&idEmpresa=@ViewBag.IdEmpresa">Promoção - Detalhes</a>
        </li>
        <li class="active">
            <strong>Notícia</strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">
</div>