<style>
    .rowMargin {
        margin: 0 !important;
    }

    .boxRedeSocial {
        max-height: 560px;
    }

    .divComentarios {
        overflow-y: auto;
        height: 365px;
        margin-top: -15px;
    }
</style>

<div class="twitter-paginacao" style="width:100%; text-align:right;"></div>

<div class="row rowMargin" id="listaPostsTwitter">


</div>

<div class="twitter-paginacao" style="width:100%; text-align:right;"></div>


