<style>
    .rowMargin {
        margin: 0 !important;
    }

    .boxRedeSocial {
        max-height: 560px;
    }

    .divComentarios {
        overflow-y: auto;
        height: 365px;
        margin-top: -15px;
    }
</style>

<div class="facebook-paginacao" style="width:100%; text-align:right;" ></div>

<div class="row rowMargin" id="listaPostsFacebook">

    @*<div class="col-md-12 ibox-content boxRedeSocial">
        <div class="col-md-6">
            <img src="http://desenharecolorir.com.br/wp-content/uploads/2015/09/flores.jpg" width="100%" />
        </div>

        <div class="col-md-6">
            <label>02/02/2017 | 23:45</label>
            <p>
                Teste teste jkdjfd dsjknkds dskidnsnds idsnd dsjknkds dskidnsnds idsnd dsjknkds dskidnsnds idsnd dsjknkds dskidnsnds idsnd dsjknkds dskidnsnds idsnd dsjknkds dskidnsnds idsnd dsjknkds dskidnsnds idsnd
            </p>
            <div class="btn-group">
                <div class="post-label-interacoes">
                    <i class="fa fa-thumbs-up"></i> <span id="curtidaspost">3219</span> curtidas
                </div>
                <div class="post-label-interacoes">
                    <i class="fa fa-comments"></i> <span id="comentariospost">421</span> comentários
                </div>
                <div class="post-label-interacoes">
                    <i class="fa fa-share"></i> <span id="compartilhamentospost">741</span> compartilhamentos
                </div>
            </div>
            <hr />
            <div class="divComentarios">
                <div class="social-footer" style="min-height: 345px;" id="comentariosPostFace" data-carregados="5">
                    <div class="social-comment">
                        <div class="media-body">
                            <div class="corusuario">
                                <strong>Mts Mts</strong>
                            </div> Tenho a fórmula secreta de vcs = CÂNCER<br>
                            <span class="small corusuario"><i class="fa fa-thumbs-up" style="color: gray;"></i> 0 curtidas</span> - <span class="icon-respostas small corusuario" data-qtdrespostas="0"><i class="fa fa-reply" style="color: gray;"></i> 0 respostas</span> - <small class="text-muted">30/03/2017 23:31:20</small>
                        </div>
                    </div>
                    <div class="social-comment">
                        <div class="media-body">
                            <div class="corusuario">
                                <strong>Carolina Viana</strong>
                            </div> A latinha de 250mL é ótima, não troquem pela de 220mL!!!<br>
                            <span class="small corusuario"><i class="fa fa-thumbs-up" style="color: gray;"></i> 0 curtidas</span> - <span class="icon-respostas small corusuario" data-qtdrespostas="2"><i class="fa fa-reply" style="color: gray;"></i> 2 respostas</span> - <small class="text-muted">13/03/2017 17:38:42</small>
                        </div>
                        <div class="social-comment resposta">
                            <div class="media-body">
                                <div class="corusuario"><strong>Coca-Cola Brasil</strong></div> Oi, Carolina! Tudo bem? O nosso objetivo é oferecer e estimular cada vez mais opções com diferentes porções para os consumidores fazerem suas escolhas de acordo com seu estilo de vida. Se tiver mais alguma dúvida é só chamar, a sua opinião é importante por aqui! Abraços! ^AM<br><span class="small text-success"><i class="fa fa-thumbs-up" style="color: gray;"></i> 0 curtidas</span> - <small class="text-muted">14/03/2017 11:01:44</small>
                            </div>
                            <div class="small corusuario" onclick="CarregaMaisRespostasFace(this)"><i class="fa fa-reply" style="color: gray;"></i> ver mais respostas</div>
                        </div>
                    </div>
                    <div class="social-comment">
                        <div class="media-body">
                            <div class="corusuario">
                                <strong>Renan Giacomazzi</strong>
                            </div> Thiago Thiago Steffen<br><span class="small corusuario"><i class="fa fa-thumbs-up" style="color: gray;"></i> 1 curtidas</span> - <span class="icon-respostas small corusuario" data-qtdrespostas="0"><i class="fa fa-reply" style="color: gray;"></i> 0 respostas</span> - <small class="text-muted">24/02/2017 10:34:27</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>*@

</div>

<div class="facebook-paginacao" style="width:100%; text-align:right;"></div>


