
<div class="col-lg-10">
    <h2>Notícias</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/Empresa">Home</a>
        </li>
        <li>
            <a href="/Empresa">Empresas</a>
        </li>
        <li>
            <a href="/Empresa/Perfil/@ViewBag.IdEmpresa">@ViewBag.NomeEmpresa</a>
        </li>
        <li>
            <a href="/Empresa/Noticias/@ViewBag.IdEmpresa">Notícias</a>
        </li>
        <li class="active">
            <strong>Notícia</strong>
        </li>
    </ol>
</div>
<div class="col-lg-2">
</div>