
@{
    ViewBag.Title = "Notícia";
}
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Notícias</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Empresas</a>
            </li>
            <li>
                <a>Coca-cola Company</a>
            </li>
            <li>
                <a>Notícia</a>
            </li>
            <li class="active">
                <strong>Notícia</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content  animated fadeInRight ">
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->

    <div class="row">
        <div class="col-md-8">
            <div class="ibox">

                <div class="ibox-content">

                    <div class="titulo_noticia">
                        <strong>Revista Exame</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                        <h1>
                            Coca-Cola Brasil entra no mercado de café
                        </h1>
                        <br />
                        <h3>
                            Empresa entra no segmento por meio da marca brasileira Leão. Café Leão será o 1º da companhia no mundo para o consumo em casa.
                        </h3>

                    </div>
                    <p>
                        A Coca-Cola Brasil anunciou que lançará em agosto o Café Leão, produto com grãos 100% arábica, cultivados, torrados e embalados no país. A iniciativa marca a entrada da empresa no segmento de cafés, por meio da Leão, marca de origem brasileira com 115 anos de atuação no segmento de chás. O Café Leão será o primeiro da companhia no mundo para o consumo em casa.
                    </p>
                    <p>
                        Segundo a Coca-Cola, a produção do Café Leão envolverá uma rede de pequenos e médios cafeicultores do cerrado mineiro e das montanhas do Espírito Santo.
                    </p>
                    <p>
                        O produto estará disponível em duas torras: escura, com a bebida encorpada e equilibrada com aroma e sabor intensos; e média, com aroma e sabor balanceados com dulçor marcante.
                    </p>
                    <p>
                        Inicialmente, o Café Leão será encontrado no Rio de Janeiro, São Paulo e Curitiba, com a previsão de chegar aos principais pontos de venda de todo o país a partir de janeiro de 2017. Em setembro, os consumidores brasileiros também poderão adquirir o Café Leão em canais de e-commerce.
                    </p>
                    <p>
                        O produto está disponível em quatro embalagens: 500g em grãos de torra média, 500g em grãos de torra escura (preço sugerido de R$ 25 cada), 250g moído de torra média e 250g moído de torra escura (preço sugerido de R$ 9,50 cada).
                    </p>
                    <p>
                        Novos produtos
                    </p>
                    <p>
                        A companhia já atua nos segmentos de águas, chás, refrigerantes, néctares, sucos, energéticos e bebidas esportivas, entre sabores regulares e versões de baixa ou zero caloria.
                    </p>
                    <p>
                        A Coca-Cola Brasil está concluindo a compra da Laticínios Verde Campo, de Lavras (MG), e fará sua estreia no segmento de lácteos no país.
                    </p>
                    <p>
                        Na categoria de refrigerantes, a mais recente inovação é a Coca-Cola com Stevia e 50% menos açúcares. O produto tem em sua receita o adoçante natural stevia e metade do açúcar da Coca-Cola original.
                    </p>
                    <p>
                        Junto com a engarrafadora mexicana Coca-Cola Femsa, a The Coca-Cola Company fechou um acordo para a compra do negócio de bebidas à base de soja AdeS na América Latina. A operação está sujeita à aprovação das autoridades regulatórias e ao cumprimento de condições estabelecidas no acordo.
                    </p>

                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="small">
                                <div><i class="fa fa-user"> </i> Autor:</div>
                                <div style="margin-top:5px" >Redação</div>
                                <div style="margin-top:5px">
                                    <i class="fa fa-link"> </i> <a href="http://exame.abril.com.br/negocios/noticias/fusao-de-kraft-e-heinz-cria-empresa-maior-que-coca-cola" target="_blank"> Ver original</a>
                                </div>
                            </div>
                        </div>
                        <div class="tags_noticia col-md-9">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Coca-Cola</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                            <button class="btn btn-white btn-xs" type="button">Novo produto</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Imagens da notícia</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="lightBoxGallery">
                                <a href="~/Images/noticias/not1_img1.jpg" title="Coca-Cola Brasil entra no mercado de café" data-gallery=""><img src="~/Images/noticias/not1_img1.jpg" width="80" height="80"></a>
                                <a href="~/Images/noticias/not1_img2.jpg" title="Coca-Cola Brasil entra no mercado de café" data-gallery=""><img src="~/Images/noticias/not1_img2.jpg" width="80" height="80"></a>
                                <a href="~/Images/noticias/not1_img1.jpg" title="Coca-Cola Brasil entra no mercado de café" data-gallery=""><img src="~/Images/noticias/not1_img1.jpg" width="80" height="80"></a>
                                <a href="~/Images/noticias/not1_img1.jpg" title="Coca-Cola Brasil entra no mercado de café" data-gallery=""><img src="~/Images/noticias/not1_img1.jpg" width="80" height="80"></a>
                                <a href="~/Images/noticias/not1_img2.jpg" title="Coca-Cola Brasil entra no mercado de café" data-gallery=""><img src="~/Images/noticias/not1_img2.jpg" width="80" height="80"></a>
                                <a href="~/Images/noticias/not1_img1.jpg" title="Coca-Cola Brasil entra no mercado de café" data-gallery=""><img src="~/Images/noticias/not1_img1.jpg" width="80" height="80"></a>


                            </div>
                            <div class="text-center">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Notícias relacionadas</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="noticia_relacionada">
                                <div>15.09.2016 15:20h</div>
                                <div><strong>Coca-cola Brasil entra no mercado de café</strong></div>
                                <div>Revista Exame</div>
                            </div>
                            <div class="noticia_relacionada">
                                <div>15.09.2016 15:20h</div>
                                <div><strong>Coca-cola Brasil entra no mercado de café</strong></div>
                                <div>Revista Exame</div>
                            </div>
                            <div class="noticia_relacionada">
                                <div>15.09.2016 15:20h</div>
                                <div><strong>Coca-cola Brasil entra no mercado de café</strong></div>
                                <div>Revista Exame</div>
                            </div>
                            <div class="noticia_relacionada">
                                <div>15.09.2016 15:20h</div>
                                <div><strong>Coca-cola Brasil entra no mercado de café</strong></div>
                                <div>Revista Exame</div>
                            </div>
                            <div class="noticia_relacionada">
                                <div>15.09.2016 15:20h</div>
                                <div><strong>Coca-cola Brasil entra no mercado de café</strong></div>
                                <div>Revista Exame</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<style>
    .noticia_relacionada {
        margin: 0px 0px 20px 0px;
    }

    .tags_noticia button{
        margin-bottom:3px;
    }

    /* Local style for demo purpose */

    .lightBoxGallery {
        text-align: center;
    }

        .lightBoxGallery img {
            margin: 5px;
        }
</style>

@section Styles {
    @Styles.Render("~/Content/plugins/blueimp/css/")



}

@section Scripts {
    @Scripts.Render("~/plugins/lightboxGallery")

}
