

<style>

    .timeline-itemdetalhe .ibox-title {
        cursor:pointer;
    }

    .timeline-itemdetalhe .ibox-content {
        display:none;
    }
    
    .timeline-detalhes {
            display: none;
    }

    .timeline-item.aberto {
        background-color:#f6f6f6
    }
    .timeline-item-label {
        margin-bottom:10px;
    }
    .timeline-itemdetalhe {
        margin:10px 0;
    }
    .graf-caption {
        padding: 1px 5px;
        color: #999;
        border: 1px solid #AAA;
        float: right;
    }

        .graf-caption span {
            font-size: 20px;
        }


    .graf-promoativas {
        height: 200px;
    }

        .graf-promoativas path {
            xxstroke: steelblue;
            stroke-width: 2;
            fill: none;
        }

        .graf-promoativas .axis path,
        .graf-promoativas .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Promoções</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Empresas</a>
            </li>
            <li>
                <a>Coca Cola Company</a>
            </li>
            <li class="active">
                <strong>Promoções</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-8">

            <div class="profile-image">
                <img src="~/Images/Empresas/logo01.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            Coca Cola Company
                        </h2>
                        <h4>Corporação</h4>
                        <small>
                            The Coca-Cola Company, geralmente referida como Coca-Cola Company, Coke ou simplesmente Coca-Cola, dependendo da região, é uma corporação multinacional estadunidense, fabricante e comerciante de bebidas não-alcoólicas e concentrados de xaropes.
                        </small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Redes sociais</h5>
            </div>
            <div class="ibox-content">

                <div class="graf-caption"><span>28</span> pomoções ativas</div>
                <div class="graf-promoativas">


                </div>
                <br />
                <span class="graf-legenda">* promoções ativas durante as últimas 12 semanas</span>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="ibox-title">
            <h5>Promoções</h5>
        </div>
        <div class="ibox-content inspinia-timeline">

            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-plus"></i>
                        21/11/2016
                        <br />
                    </div>
                    <div class="col-xs-7 content no-top-border">
                        <p class="m-b-xs"><strong>Natal dos Sonhos – Campinas Shopping</strong></p>
                        <div>
                            Interessados:   Associacao  dos  Lojistas  do Campinas     Shopping     Center,     Aplub Capitalização   S/A   e   Arcos   Dourados Comércio    de    Alimentos    Ltda.    (MC Donald's)
                        </div>
                        <br />
                        <div>
                            Vigência: 01/12/2016 à 26/12/2016
                        </div>
                        <div class="row timeline-detalhes">
                            <div class="col-md-12 timeline-itemdetalhe">
                                <div class="ibox-title">
                                    <h5>Promoção</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    Trata-se de promoção comercial denominada “Natal dos Sonhos – Campinas Shopping”,
                                    a ser realizada na modalidade assemelhada a concurso, com abrangência em Campinas/SP. <br />
                                    A presente promoção comercial terá início no dia 01 de dezembro de 2016 e término no
                                    dia 26 de dezembro de 2016. Contudo, o período de participação será até o dia 24 de dezembro de 2016, às 18h. 
                                </div>
                            </div>
                            <div class="col-md-12 timeline-itemdetalhe">
                                <div class="ibox-title">
                                    <h5>Como participar</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    A  cada R$  250,00  (duzentos  e  cinquenta reais) em
                                    notas  ou  cupons fiscais  de  compras
                                    realizadas  nas   lojas  aderentes  a  esta  promoção  come
                                    rcial  mediante  qualquer  forma  de
                                    pagamento, durante o período de 01/12/2016 até às 17h do dia 24/12/2016, o consumidor terá o
                                    direito  de  retirar  01  (um)  cupom  para  participar  da
                                    promoção  comercial  referida  acima.  <br />
                                    Os clientes que realizarem suas compras na loja McDonald's do Campinas Shopping no período da
                                    promoção, e apresentarem as notas ou cupons fiscais no valor mínimo de R$ 30,00 (trinta reais) somando-se com as demais notas obtidas nas lojas 
                                    aderentes, totalizando R$ 250,00 (duzentose cinquenta reais) em compras, terão direito de receber 1 (um) cupom extra (não cumulativo). 
                                </div>
                            </div>
                            <div class="col-md-12 timeline-itemdetalhe">
                                <div class="ibox-title">
                                    <h5>Premiações</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    01 (um) Automóvel Onix, Chevrolet, automático, ano 2016/modelo 2017, 4 portas, cor branco. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <div class="row">
                    <div class="col-xs-3 date">
                        <i class="fa fa-plus"></i>
                        18/11/2016
                        <br />
                    </div>
                    <div class="col-xs-7 content no-top-border">
                        <p class="m-b-xs"><strong>Natal  dos  Sonhos  Shopping  Metrô Santa  Cruz</strong></p>

                        <div>
                            Interessados:   Associação  dos  Lojistas  do Shopping    Metrô    Santa    Cruz,    Aplub Capitalização   S/A   e   Arcos   Dourados Comércio    de    Alimentos    Ltda.    (MC Donald's) 
                        </div>
                        <br />
                        <div>
                            Vigência: 01/12/2016 à 26/12/2016
                        </div>

                        <div class="row timeline-detalhes">
                            <div class="col-md-12 timeline-itemdetalhe">
                                <div class="ibox-title">
                                    <h5>Promoção</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    Trata-se  de  promoção  comercial  denominada  “Natal  dos  Sonhos  Shopping  Metrô
                                    Santa  Cruz”,  a  ser  realizada  na  modalidade  assemelhada  a  Concurso.  A  promoção  tem
                                    abrangência no Município de São Paulo. O prazo de execução da promoção está compreendido
                                    entre os dias 01/12/2016 ao dia 26/12/2016. 
                                </div>
                            </div>
                            <div class="col-md-12 timeline-itemdetalhe">
                                <div class="ibox-title">
                                    <h5>Como participar</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    A  cada  R$  400,00  (quatrocentos  reais)  em  notas  ou  cupons  fiscais  de  compras realizadas  nas   lojas  aderentes  a  esta  promoção  
                                    comercial  mediante  qualquer  forma  de pagamento,  durante  o  período  de  participação,  o  consumidor  
                                    terá  o  direito  de  retirar  um  (01) cupom  para  participar  da  promoção  comercial  referida
                                    acima.  Os  clientes  que  realizarem  suas compras  na  loja  McDonald's  do  Shopping  Metrô  Santa 
                                    Cruz  no  período  da  promoção,  e 
                                    apresentarem as notas ou cupons fiscais no valor mínimo de R$ 30,00 (trinta reais) somando-se
                                    com as demais notas obtidas nas lojas aderentes, totalizando R$ 400,00 (quatrocentos reais) em
                                    compras, terão direito de receber 01 (um) cupom extra (não cumulativo). 
                                </div>
                            </div>
                            <div class="col-md-12 timeline-itemdetalhe">
                                <div class="ibox-title">
                                    <h5>Premiações</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    02  (dois )  Vale  viagens  CVC  no  valor  unitário  de  R$  10.000,00  (dez  mil reais)
                                    <br />
                                    O Vale - Viagem deverá ser usado exclusivamente na loja CVC Viagens do Shopping Metrô Santa Cruz. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/plugins/d3")
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/graficos/linhas.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".timeline-itemdetalhe .ibox-title").click(function () {

                if ($(this).find("i.fa").hasClass("fa-chevron-down")) {
                    $(this).find("i.fa").addClass("fa-chevron-up").removeClass("fa-chevron-down");
                    $(this).parent().find(".ibox-content").slideDown(500);
                }
                else {
                    $(this).find("i.fa").addClass("fa-chevron-down").removeClass("fa-chevron-up");
                    $(this).parent().find(".ibox-content").slideUp(500);
                }
            });


            $(".timeline-item i").click(function () {
                if ($(this).hasClass("fa-plus")) {
                    $(this).parent().parent().find(".timeline-detalhes").slideDown(500);
                    $(this).removeClass("fa-plus").addClass("fa-minus");
                    $(this).parent().parent().parent().addClass("aberto");
                }
                else {
                    $(this).parent().parent().find(".timeline-detalhes").slideUp(500);
                    $(this).removeClass("fa-minus").addClass("fa-plus");
                    $(this).parent().parent().parent().removeClass("aberto");
                }
            });

            
            var dadosSocial = [
                { "categoria": "promocoes", "date": "2016-10-13", "valor": 28 },
                { "categoria": "promocoes", "date": "2016-10-6", "valor": 29 },
                { "categoria": "promocoes", "date": "2016-9-29", "valor": 28 },
                { "categoria": "promocoes", "date": "2016-9-22", "valor": 27 },
                { "categoria": "promocoes", "date": "2016-9-15", "valor": 26 },
                { "categoria": "promocoes", "date": "2016-9-8", "valor": 27 },
                { "categoria": "promocoes", "date": "2016-9-1", "valor": 25 },
                { "categoria": "promocoes", "date": "2016-8-25", "valor": 25 },
                { "categoria": "promocoes", "date": "2016-8-18", "valor": 25 },
                { "categoria": "promocoes", "date": "2016-8-11", "valor": 24 },
                { "categoria": "promocoes", "date": "2016-7-25", "valor": 23 },
                { "categoria": "promocoes", "date": "2016-7-18", "valor": 24 },

            ]

            var coresCategoria = [];
            coresCategoria["promocoes"] = "#1AB394";

            larguraGraf = $(".graf-promoativas").width();
            alturaGraf = $(".graf-promoativas").height() - 40;
            DesenharGraficoLinhas(".graf-promoativas", dadosSocial, larguraGraf, alturaGraf, coresCategoria);

        });
    </script>
}